/* VARIABLE */
:root {
  --primary-text-color: #212121;
  --aditional-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-light-grey-color: #f5f4fa;
  --background-grey-color: #2f303a;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
}

/* GENERAL */

.container {
  width: 1200px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
  background: var(--white-color);
}

/* index.html */

/* HEADER STYLES*/

.header {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  height: 80px;
}

.nav-list {
  display: flex;
}

.header .container {
  display: flex;
}

.nav-list .list {
  display: flex;
  padding-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contact-list .list {
  display: flex;
}
.contact-list li {
  color: var(--aditional-text-color);
}

.active,
.nav-list a:hover,
.nav-list a:focus,
.contact-list a:hover,
.contact-list a:active {
  color: var(--accent-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--black-color);
}
.logo-web {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* MAIN SECTION STYLES */

.main-section-header {
  background-color: var(--background-grey-color);
  text-align: center;
}

.main-section-header .container {
  padding: 200px 0;
}

.main-section-header h1 {
  margin: 0px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.363;
  text-align: center;
  text-transform: uppercase;
}

.main-section-header button {
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--accent-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  cursor: pointer;
  border: none;

  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
}

.main-section-benefits {
  background-color: var(--white-color);
}

.benefits-list h3 {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.142;
  text-transform: uppercase;
}

.benefits-list p {
  color: var(--aditional-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.714;
}

.main-section-benefits h2 {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-section-team {
  background: var(--background-light-grey-color);
}

.main-section-team h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-section-team h3 {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-section-team p {
  color: var(--aditional-text-color);
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
.box-team {
  background-color: var(--white-color);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* FOOTER STYLES */

.footer {
  background-color: var(--background-grey-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-studio-footer {
  color: var(--white-color);
}
.address {
  font-style: normal;
  color: var(--white-color);
}
.contact-list-footer a:hover,
.contact-list-footer a:focus {
  color: var(--accent-color);
}

/* portfolio.html */

/* MAIN SECTION STYLES */

.portfolio-buttons .active-portfolio {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-buttons button {
  background-color: var(--background-light-grey-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  width: 128px;
  height: 38px;
}

.box-portfolio {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-list h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list p {
  color: var(--aditional-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.portfolio-buttons button:hover {
  background: var(--accent-color);
  color: var(--white-color);
}
